<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>SWCCG</title>
<link rel="stylesheet" type="text/css" href="/smishsmosh/static/css/indexCSS.css">
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script>

/*Things to add
add card to top 0 right 0 or anywhere really
add card management
	add card
	remove card


*/

//**********card type Logic**************
function drawCard(d, x, c)  {
var div = d; //div to draw card onto
var cardId = x; //the card's DB id number

var cardTypeNum = Math.floor( Math.random() * 14 ) + 1;

var str = cardTypeNum.toString();

str = "15";

switch(str)  {

	case "1":
		drawSite(d, x, c);
		break;
	case "2":
		drawCreature(d, x, c);
		break;
	case "3":
		drawBasic(d, x, c);
		break;
	case "4":
		drawBasic(d, x, c);
		break;
	case "5":
		drawCard1(d, x, c);
		break;
	case "6":
		drawCard1(d, x, c);
		break;
	case "7":
		drawCard2(d, x, c);
		break;
	case "8":
		drawCard2(d, x, c);
		break;
	case "9":
		drawCard2(d, x, c);
		break;
	case "10":
		drawCard2(d, x, c);
		break;
	case "11":
		drawCard2(d, x, c);
		break;
	case "12":
		drawCard2(d, x, c);
		break;
	case "13":
		drawCard3(d, x, c);
		break;
	case "14":
		drawCard3(d, x, c);
		break;
	case "15":
		drawCard4(d, x, c);
		break;
	case "Location":
		drawSite(d, x, c);
		break;
	case "Creature":
		drawCreature(d, x, c);
		break;
	case "Admiral's Order":
		drawBasic(d, x, c);
		break;
	case "Objective":

		drawBasic(d, x, c);
		break;
	case "Epic Event":
		drawCard1(d, x, c);
		break;
	case "Jedi Test":
		drawCard1(d, x, c);
		break;
	case "Defensive Shield":
		drawCard2(d, x, c);
		break;
	case "Effect":
		drawCard2(d, x, c);
		break;
	case "Interrupt":
		drawCard2(d, x, c);
		break;
	case "Podracer":
		drawCard2(d, x, c);
		break;
	case "Weapon":
		drawCard2(d, x, c);
		break;
	case "Device":
		drawCard2(d, x, c);
		break;
	case "Starship":
		drawCard3(d, x, c);
		break;
	case "Vehicle":
		drawCard3(d, x, c);
		break;
	case "Character":
		drawCard4(d, x, c);
		break;
	default:
		alert("we lost");
}

}

//***********Drawing the card**************/

function drawBasic(d, x, c)  {
var div = document.getElementById(d);
//div.innerHTML = "drawBasic";
div.appendChild(drawTop(d, x, c));
div.appendChild(drawPic(d, x, c));
div.appendChild(drawText(d, x, c));


}

function drawSite(d, x, c)  {

var div = document.getElementById(d);
div.innerHTML = c.CardName + "drawSite --fuck you site!!";

}

function drawCreature(d, x, c)  {
var div = document.getElementById(d);
//div.innerHTML = "drawCreature "+x;
div.appendChild(drawTop(d, x, c));
div.appendChild(drawLore(d, x, c));
div.appendChild(drawPic(d, x, c));
div.appendChild(drawInfo(d, x, c));
div.appendChild(drawText(d, x, c));
}

function drawCard1(d, x, c)  {
var div = document.getElementById(d);
//div.innerHTML = "drawCard1 "+x;
div.appendChild(drawTop(d, x, c));
div.appendChild(drawPic(d, x, c));
div.appendChild(drawBar(d, x, c));
div.appendChild(drawText(d, x, c));
}

function drawCard2(d, x, c)  {
var div = document.getElementById(d);
//div.innerHTML = "drawCard "+x;
div.appendChild(drawTop(d, x, c));
div.appendChild(drawLore(d, x, c));
div.appendChild(drawPic(d, x, c));
div.appendChild(drawBar(d, x, c));
div.appendChild(drawText(d, x, c));
}

function drawCard3(d, x, c)  {
var div = document.getElementById(d);
//div.innerHTML = "drawCard "+x;
div.appendChild(drawTop(d, x, c));
div.appendChild(drawLore(d, x, c));
div.appendChild(drawPic(d, x, c));
div.appendChild(drawBar(d, x, c));
div.appendChild(drawInfo(d, x, c));
div.appendChild(drawText(d, x, c));
}

function drawCard4(d, x, c)  {
var div = document.getElementById(d);
//div.innerHTML = "drawCard "+x;
div.appendChild(drawTop(d, x, c));
div.appendChild(drawLore(d, x, c));
div.appendChild(drawPic(d, x, c));
div.appendChild(drawInfo(d, x, c));
div.appendChild(drawLeft(d, x, c));
div.appendChild(drawRight(d, x, c));
div.appendChild(drawText(d, x, c));


}

//*********Drawing of Card Parts***************//

function drawTop(d, x, c)  {
var cp1 = document.createElement("div");
cp1.setAttribute("class", "part"+d);
cp1.style.height = "8%";
cp1.style.backgroundColor = randomHexColor();
cp1.innerHTML = c.cardtype + " || " + c.cardname + " || " + c.destiny;
return cp1;
}

function drawLore(d, x, c)  {
var cp1 = document.createElement("div");
cp1.setAttribute("class", "part"+d);
cp1.style.height = "10%";
cp1.style.fontSize = "8px";
cp1.style.backgroundColor = randomHexColor();
cp1.innerHTML = c.lore;
return cp1;
}

function drawPic(d, x, c)  {
var cp1 = document.createElement("div");
cp1.setAttribute("class", "part"+d);
cp1.style.height = "45%";
cp1.style.backgroundImage = "url('/smishsmosh/static/img/cardpic.jpg')";
cp1.style.backgroundSize = "250px 100%";
cp1.style.backgroundColor = randomHexColor();
cp1.innerHTML = "drawPic ||  "+x;

return cp1;
}

function drawBar(d, x, c)  {
var cp1 = document.createElement("div");
cp1.setAttribute("class", "part"+d);
cp1.style.height = "5%";
cp1.style.textAlign = "center";
cp1.style.backgroundColor = randomHexColor();
cp1.innerHTML = "drawBar ||  "+x;
return cp1;
}

function drawInfo(d, x, c)  {
var cp1 = document.createElement("div");
cp1.setAttribute("class", "part"+d);
cp1.style.height = "8%";
cp1.style.textAlign = "center";
cp1.style.backgroundColor = randomHexColor();
cp1.innerHTML = "Power: "+c.power+" || Ability:"+c.ability;
return cp1;
}

function drawText(d, x, c)  {
var cp1 = document.createElement("div");
cp1.setAttribute("class", "part"+d);
cp1.style.height = "29%";
cp1.style.paddingLeft = "8%";
cp1.style.paddingRight = "8%";
cp1.style.backgroundColor = randomHexColor();
cp1.innerHTML = c.gametext;
return cp1;
}

function drawLeft(d, x, c)  {
var cp1 = document.createElement("div");
cp1.setAttribute("class", "part"+d);
cp1.style.height = "10%";
cp1.style.backgroundColor = randomHexColor();
cp1.style.width = "5%";
cp1.innerHTML = "L";
cp1.style.cssFloat="left";
return cp1;
}

function drawRight(d, x, c)  {
var cp1 = document.createElement("div");
cp1.setAttribute("class", "part"+d);
cp1.style.height = "10%";
cp1.style.width = "5%";
cp1.style.backgroundColor = randomHexColor();
cp1.innerHTML = "R";
cp1.style.cssFloat="right";
return cp1;
}


//************globals ****************//
var cardCounter = 0;
//var cardH = 167;
//var cardW = 120;
var cardH = 350;
var cardW = 251;
//************adding cards to table****************//


function addRandomCard() {

var randCard = Math.floor( Math.random() * 3442 ) + 1;

cardCounter++;

var c = document.getElementById("cardHolder");


	var imgDiv = document.createElement("div");
	imgDiv.setAttribute("id", cardCounter);
	imgDiv.setAttribute("cid", randCard);
	imgDiv.setAttribute("class", "divHolder");
	imgDiv.style.height = cardH+"px";
	imgDiv.style.width = cardW+"px";
	imgDiv.style.top = "0px";
	imgDiv.style.left = "0px";
	imgDiv.style.backgroundColor = randomHexColor();
	imgDiv.style.backgroundImage = "url('/smishsmosh/static/img/darkBack.jpg')";
	imgDiv.style.zIndex = cardCounter;
	imgDiv.setAttribute("onclick", "bringToFront("+cardCounter+")");
	imgDiv.setAttribute("ondblclick", "flipCard("+cardCounter+")");
	c.appendChild(imgDiv);
    
    $.post("/draw_card", { "randCard": randCard }, function(data) {
    	drawCard(cardCounter, randCard, data);
    });

	//drawCard(cardCounter, randCard);

	makeDraggable(cardCounter);
	
	

}

function makeDraggable(x) {
$( "#"+x ).draggable();
}

function addThisCard()  {
var cId = document.getElementById("cardId").value;

cardCounter++;

var c = document.getElementById("cardHolder");

 

	var imgDiv = document.createElement("div");
	imgDiv.setAttribute("id", cardCounter);
	imgDiv.setAttribute("cid", cId);
	imgDiv.setAttribute("class", "divHolder");
	imgDiv.style.height = cardH+"px";
	imgDiv.style.width = cardW+"px";
	imgDiv.style.top = "0px";
	imgDiv.style.left = "0px";
	imgDiv.style.backgroundColor = randomHexColor();
	imgDiv.style.backgroundImage = "url('/gameEngine/smishsmosh/static/img/darkBack.jpg')";
	imgDiv.style.zIndex = cardCounter;
	imgDiv.setAttribute("onclick", "bringToFront("+cardCounter+")");
	imgDiv.setAttribute("flipped", "0");
	imgDiv.setAttribute("ondblclick", "flipCard("+cardCounter+")");
	c.appendChild(imgDiv);

	$.post("/draw_card", { "randCard": cId }, function(data) {
	drawCard(cardCounter, cId, data);
	});

	makeDraggable(cardCounter);


}

//**************rand functions*************//

function bringToFront(x)  {
for(var i = 1; i <= cardCounter; i++)  {
	e = document.getElementById(i).style.zIndex = i;
	}
document.getElementById(x).style.zIndex = i++;
}

function randomHexColor() {
return '#'+Math.floor(Math.random()*16777215).toString(16);

}

function changeColor(x)  {
var p = document.getElementsByClassName("part");

for(var i = 0; i < p.length; i++)  {
	p[i].style.backgroundColor = x;
	}

}

function changeCSS(x)  {
var p = document.getElementsByClassName("part");

for(var i = 0; i < p.length; i++)  {
	p[i].style.border = x;
	}

}

function changeCSS2(x)  {
var p = document.getElementsByClassName("part");

for(var i = 0; i < p.length; i++)  {
	p[i].style.borderWidth = x;
	}

}

function changeCSS3(x)  {
var p = document.getElementsByClassName("divHolder");
var w = "8px";
for(var i = 0; i < p.length; i++)  {
	p[i].style.border = x;
	p[i].style.borderWidth = w;
	}

}

function changeCSS4(x)  {
var p = document.getElementsByClassName("part");
for(var i = 0; i < p.length; i++)  {
	p[i].style.border = x;
	p[i].style.padding = x;
	}

}


function changeTextColor(x)  {
var p = document.getElementsByClassName("part");
for(var i = 0; i < p.length; i++)  {
	p[i].style.color = x;
	}

}

function moveCards(x, y)  {
var p = document.getElementsByClassName("part");
if(x == "line")  {
alert(x);
for(var i = 0; i < p.length; i++)  {
	p[i].style.Top = "0px";
	$("#draggable").simulate("drag-n-drop", {dx: x, dy: y, interpolation: { stepWidth: 1, stepDelay: 1}});
	}
}
else  {

}

}

function flipCard(d)  {
var p = document.getElementsByClassName("part"+d);
if(p[0].style.visibility == "hidden")  {
	for(var i = 0; i < p.length; i++)  {
		p[i].style.visibility = "visible";
		}
}
else  {
	for(var i = 0; i < p.length; i++)  {
		p[i].style.visibility = "hidden";
		}
}

}

</script>
</head>

<body>
Coming at a later date. Be patient we are lazy.

<br>
card ID:<br>
<input type="text" id="cardId">

<div id="getCardButton" onclick="addThisCard()">Add ^^^ card</div>


<div id="button" onclick="addRandomCard()">Add random card</div>

<div id="cardHolder"></div>
<div id="cardTable">
This is the card table. Be nice to it. Respect the wood.
</div>


</body>
</html>
