{% extends "base.html" %}
{% block body %}
<h1> DECK SELECTION </h1>

<div> {{ current_user.email }}
      {{ current_user.player_id }}
      {{ player_deck_ids }}
</div>

<!--form action="/start_game" method="post"-->
<form action="/join_game" method="post">
<div id="player_decks">
{% for deck in player_deck_ids %}

<label class="btn btn-primary">
    <input type="radio" name="selected_deck" id="selected_deck" value="{{ deck }}" > {{ deck }}
</label>

{% endfor %}
<button type="submit">New game</button>

</div>
</form>

<form action="/start_game" method="post">
<button id="start" type="submit" class="btn"></button>
<input type="hidden" name="selected_deck" class="deck_input">
</form>

<form action="/join_game" method="post">
<button id="join" type="submit" class="btn"></button>
<input name="selected_game_id" id="selected_game_id"></input>
<input type="hidden" name="selected_deck" class="deck_input">
</form>

<form method="GET" action="/logout">
  <input type="submit" name="Logout">
</form>

<script type="text/javascript">
  $(document).ready(function() {
   $('input#selected_deck').click(function() {
        var player_deck = $('#player_decks input:radio:checked').val();
        console.log(player_deck);
        console.log($('#player_decks input:radio:checked').val());
        $('.deck_input').val(player_deck);
            });
      });
</script>


{% endblock %}
